* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Nunito", sans-serif;
  height: 100vh;
  background-image: url("./resources/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Nunito", sans-serif;
  height: 100vh;
  background-color: gray;
}

h1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 100px;
  padding: 15px;
}

button {
  display: flex;
  padding: 15px 30px;
  background: #e7e7e7;
  border: none;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 25px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 50px auto;
}

button[type="submit"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 15px 30px;
  background: #e7e7e7;
  border: none;
  border-radius: 1px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 25px;
}

.input input[type="text"] {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-bottom: 15px;
  width: 400px;
  height: 55px;
  padding: 5px 10px;
  background: #e7e7e7;
  border: none;
  border-radius: 1px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 25px;
}
